@use './common.scss' as *;

header { padding: 20px; position:fixed;
    top:0; left:0; width: 100%; z-index: 990; 
    @include flexrow;
    .header_left { @include flexrow; width: 25%;
        li {font-family: $point-font; font-size:$font-size14}
    }
    .logo {position:absolute; left: 50%;
        transform: translateX(-50%);        
        img { width: 100%; height: 100%}
    }
    .header_right { @include flexrow; gap:30px; justify-content: right;
        li {
            a {
                img {width: auto; height: 22px;}
            }
        }
    }
}
.wrap {
    .main_bnr { 
        #main_swiper {
            height: 950px; background-color:antiquewhite;
            .swiper-wrapper {
                .swiper-slide {position:relative;
                    background-size:cover;
                    background-position:center;
                    &:nth-child(1) {
                        background-image: url('../image/main_bg1.png');
                    }
                    &:nth-child(2) {
                        background-image: url('../image/main_bg2.png');
                    }
                    &:nth-child(3) {
                        background-image: url('../image/main_bg3.png');
                    }
                    .main_bnr_contents {
                        text-align: center;
                        position:absolute; left: 50%;
                        transform: translateX(-50%); bottom:170px;
                        h3 {
                            font-family: $point-font; font-weight: 200;
                            font-size:$font-size20; color:#fff;
                        }
                        h2 {
                            font-family: $point-font; margin: 10px 0;
                            font-size:$font-size30; font-weight: 700;
                            color:#fff;
                        }
                        a {
                            padding:15px 30px; display:inline-block;
                            @include btn_d
                        }
                    }
                }
            }
            .swiper-pagination {
                bottom:50px;
                .swiper-pagination-bullet {
                    background-color:#999;
                    width: 100px; height: 1px;
                }
                .swiper-pagination-bullet-active {
                    background-color:#fff;
                }
            }
        }
    }
    .best_section { height: 950px; display:flex; flex-flow:column nowrap; justify-content: center; position:relative; 
        .bar_bnr {
            position:absolute; top:0;
            display:block; width: 100%;text-align: center; background-color:#000; 
            padding:10px;
            p{color:#fff; font-size:$font-size14; font-weight: 300;}
        }
        .best_title {padding:0 20px; margin-bottom:20px;
            display:flex; flex-flow:row nowrap; gap:15px;
            .title {font-family: $title-font; font-size:$font-size30;}
            .today_delivery {@include flexrow; align-items: center; gap:10px;
                img {width: 12px; height: 12px; border:1px solid #999;}
                p {font-size: $font-size14; color:#999;}
            }
        }
        .best_menu { @include flexrow; justify-content: left; padding: 0 20px; gap:20px; align-items: center;
            li {color:#999; @include flexrow; gap:20px; align-items: center;}
            li::after {content:''; width: 1px; height: 15px; background-color:#999; display:block;font-weight: 500;}
            .active {color:#000; }
        }
        .best_swiper_wrap {
            position:relative;
            #best_swiper { margin:40px 0 100px; width: 100%; height: 500px;
                .swiper-wrapper {
                    .swiper-slide {
                        text-align: center;
                        margin-right:1px;
                        a {display:inline-block;
                            img {width: 100%; height: auto;}
                        }
                        .product_title {@include product_title; margin: 15px 0 5px;}
                        .product_price {@include product_price}
                    }
                }
                .swiper-scrollbar {
                    height: 1px; width: 20%;
                    left:50%; transform: translateX(-50%); 
                    position:absolute; bottom:0px;
                }
                .swiper-scrollbar-drag {background-color:#000; }
            }
            .view_more_btn {position:absolute; left:50%; transform: translateX(-50%); bottom:0; @include btn_d; display:block;
            background-color:#999; color:#fff; font-weight: 300;
            }
        }
        .view_more_btn:hover {background-color:$color-point-blue}
    }
}