@use './common.scss' as *;

header {padding: 20px; position:fixed;
    top:0; left:0; width: 100%; z-index: 990; 
    @include flexrow;
    .header_left { @include flexrow; width: 25%; align-items: center;
        li {
            a{
                font-family: $point-font; font-size:$font-size14;
            }
            a:hover {
                color:#fff;
                @include font-shadow
            }
        }
    }
    .logo {position:absolute; left: 50%;
        transform: translateX(-50%);        
        img { width: 100%; height: 100%}
    }
    .header_right { @include flexrow; gap:30px; justify-content: right;
        li {
            a {
                img {width: auto; height: 22px;}
            }
            a:hover {
                filter:invert(1);
            }
        }
    }
    .header_right_m {display:none;}
}
header.scroll {
    background-color:#000;
    padding:10px 20px;
    .header_left {
        li {
            a {color:#fff;
                font-weight: 300;}
            a:hover {
                color:$color-point-blue;
            }
        }
    }
    .logo {
        display:none;
    }
    .header_right {
        filter:invert(1);
    }
}
.wrap {
    /* 공통  */
    .title {font-family: $title-font; font-size:$font-size30;}
    .product_title {@include product_title;}
    .product_price {@include product_price;}
    .view_more_btn {@include btn_d;}
    
    .main_bnr { 
        #main_swiper {
            height: 950px; overflow:hidden;
            .swiper-wrapper {
                .swiper-slide {position:relative;
                    background-size:cover;
                    background-position:center;
                    overflow:hidden;
                    &:nth-child(1) {
                        .main_video {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    &:nth-child(2) {
                        background-image: url('../image/main_bg1.png');
                    }
                    &:nth-child(3) {
                        background-image: url('../image/main_bg2.png');
                        .main_bnr_contents {
                            h3 {
                                font-size:$font-size30;
                            }
                        }
                    }
                    .main_bnr_contents {
                        text-align: center;
                        position:absolute; left: 50%;
                        transform: translateX(-50%); bottom:170px;
                        h3 {
                            font-family: $point-font; font-weight: 200;
                            font-size:$font-size20; color:#fff;
                            @include font-shadow;
                        }
                        h2 {
                            font-family: $point-font; margin: 10px 0;
                            font-size:$font-size30; font-weight: 700;
                            color:#fff;
                            @include font-shadow;
                        }
                        a {
                            padding:15px 30px; display:inline-block;
                            @include btn_d
                        }
                        a:hover {background-color:$color-point-blue; color:#fff;}
                    }
                }
            }
            .swiper-pagination {
                bottom:50px;
                .swiper-pagination-bullet {
                    background-color:#999;
                    width: 100px; height: 1px;
                    border-radius: 0px;
                }
                .swiper-pagination-bullet-active {
                    background-color:#fff;
                }
            }
        }
    }
    .bar_bnr {
        position:sticky; top:45px; z-index: 500;
        display:block; width: 100%;text-align: center; background-color:#000; 
        padding:10px;
        p{color:#fff; font-size:$font-size14; font-weight: 300;}
    }
    .best_section { padding: 100px 0;
        display:flex; flex-flow:column nowrap; justify-content: center; 
        .best_title {padding:0 20px; margin-bottom:20px;
            display:flex; flex-flow:row nowrap; gap:20px; align-items: end;
            .title {/* 공통 */}
            .today_delivery {@include flexrow; align-items: center; gap:5px;
                img {width: 12px; height: 12px; border:1px solid #999;}
                p {font-size: $font-size12; color:#999;}
            }
            .today_delivery:hover {
                img {border-color:$color-point-blue;}
                p {color:$color-point-blue}
            }
            .today_delivery.active {
                img {background-color:#000; border:1px solid #000;}
                p {color:#000;}
            }
        }
        .best_menu { margin-bottom:40px; 
            @include flexrow; justify-content: left; padding: 0 20px; gap:20px; align-items: center;
            li button {color:#999; @include flexrow; gap:20px; align-items: center; letter-spacing: 0.05rem; font-family: $title-font; font-weight: 300;}
            li button::after {content:''; width: 1px; height: 15px; background-color:#999; display:block;font-weight: 500;}
            .active button {color:#000; }
            li button:hover {color:$color-point-blue;}
        }
        .best_swiper_wrap {  text-align: center; 
            #best_swiper { margin-bottom:40px; padding-bottom:40px;
                .swiper-wrapper {
                    .swiper-slide { 
                        text-align: center;
                        margin-right:1px;
                        a {display:inline-block;
                            img {width: 100%; height: auto;}
                            .product_title {@include product_title; margin: 15px 0 5px;}
                            .product_price {@include product_price}
                        }
                        a:hover {
                            img {border:1px solid $color-point-blue}
                            .product_title {color:$color-point-blue}
                            .product_price {color:$color-point-blue}
                        }
                    }
                }
                .swiper-scrollbar {
                    height: 1px; width: 20%;
                    left:50%; transform: translateX(-50%); 
                    position:absolute; bottom:0px;
                }
                .swiper-scrollbar-drag {background-color:#000; }
            }
            .view_more_btn { @include btn_d; 
            background-color:#999; color:#fff; font-weight: 300; display:inline-block;
            }
        }
        .view_more_btn:hover {background-color:$color-point-blue}
    }
    .new_section { padding: 0 0 100px;
        text-align: center;
        .new_title {/* 공통 */ margin-bottom:40px;}
        .new_swiper { margin-bottom: 40px;
            .swiper-wrapper { width: 100%;
                .swiper-slide {
                    a { display:block; margin-bottom:40px; 
                        img {width: 100%;}
                        img:hover {}
                    }
                    .product_title {margin-bottom:10px;}
                    .product_price {}
                }
            }
            .swiper-pagination {gap:20px; bottom:50px;}
            .swiper-pagination-bullet {width: 100px; height: 2px; background-color:#999; border-radius: 0;;}
            .swiper-pagination-bullet-active {background-color:#999;}
        }
        .view_more_btn {background-color:#999; color:#fff;}
        .view_more_btn:hover {background-color:$color-point-blue}
    }
    .frame_section { @include flexrow; justify-content: center ; padding:178px 100px; background-color:#000; gap:100px; width: 100%;
        .frame_left {color:#fff; text-align: center; width: 40%; 
            
            .title {font-weight: 300 ;letter-spacing: 0.1rem;;}
            .frame_select {margin:95px 0;
                .frame_select_title {
                    margin:40px 0 10px;
                    width: max-content; text-align: left;
                    font-family: $point-font;
                    font-weight: 300;
                }
                .frame_select_title:nth-child(1) {margin-top:0;}
                ul {
                    display:flex; flex-flow: row nowrap; gap:10px; 
                    li {padding:10px 20px; width: 100%; border:1px solid #fff; min-width: max-content;
                        button {color:#fff; font-size:$font-size14; letter-spacing: 0.09rem;} /* 여기에 문자 설정 */
                    }
                    li:hover {
                        background-color:#fff; 
                        button{color:#000;}
                    }
                    li.click {
                        background-color:#fff; 
                        button{color:#000;}
                    }
                }
            }
            .result_btn {@include btn_d; display:inline-block;   min-width: max-content;}
            .result_btn:hover {background-color:$color-point-blue; color:#fff;}
        }
        .frame_right {  width: 100%; display:block; 
            .frame_img_box { /* background에 사진넣기 */
                display:block;
                padding:266px 0;
                background-image: url('../image/frame_back.png');
                @include background-setting;
                width:100%; height: 100%;
                p {color:#fff; font-size:$font-size14; font-weight: 300; letter-spacing:0.02rem; em{font-weight: 500;}}
            }
            .frame_img_result {
                display:none;
                ul {display:flex; flex-flow:row wrap; width: 100%; 
                    .frame_product { background-color:#e8e8e8; width: 33.33%;padding-bottom:20px; border:1px solid #000;
                        a { 
                            img {width: 100%;}
                        }
                        .product_title {margin-bottom:5px; font-weight: 400; letter-spacing: 0.05rem;}
                        .product_price {}
                    }
                    .frame_product:hover {
                        border:1px solid $color-point-blue;
                        .product_title {color:$color-point-blue}
                        .product_price {color:$color-point-blue}
                    }
                }
            }
            .a {color:#fff; display:block; background-color:red;} /* 더보기 */
        }
    }
    .recomand_section {
        display:flex; flex-flow:row nowrap; 
        height: 950px;
        /* 공통 */
        p:nth-child(1) {margin-top :719px; }
        p {font-family: $point-font; font-weight: 300; font-size:$font-size14; text-shadow: 0 0 3px rgba(0,0,0,0.5);}
        .product_title {font-family: $point-font;font-weight: 500;  font-size:$font-size20; margin: 5px 0; text-shadow: 0 0 5px rgba(0,0,0,0.5)}
        .product_price {font-family: $point-font; font-weight: 300; font-size:$font-size16;}
        .shop_btn {margin-top:13px; @include btn_d; display:inline-block; background-color:#000; color:#fff;}
        .shop_btn:hover { background-color:$color-point-blue; color:#fff;}
        .re_left,
        .re_right {
            width: 100%;
            text-align: center;
            color:#fff;
            @include background-setting;
        }
        /* background-image 깔기 */
        .re_left {background-image: url('../image/re_1.png');}
        .re_right {background-image: url('../image/re_2.png');}
    } 
    /* =========================================================스크롤 트리거 ============================================== */
    .about_section {/* 자바로 한줄씩 나오게 애니메이션 */
        background-image: url('../image/about1.png');
        @include background-setting;
        height: 950px;
        padding:310px 0;
        text-align:center;
        .container { 
            width: 100%; 
            .split{
                text-align: center;
                color:#fff;
            }
            .split * {
                will-change: transform;
            }
            .spacer {
                height: 40vh;
            }
        }
        .container:nth-child(1) { margin-bottom:50px;}
        .container h5 {font-family: $point-font; font-size:2rem; letter-spacing: -0.1rem;}
        .container p {margin-bottom:10px; font-size:$font-size16; line-height: 150%; letter-spacing: 0.3; font-weight: 300;}
        .container p:nth-child(4) {margin-bottom:0;}
        .container .about_btn {@include btn_d; margin-top:50px; display:inline-block; color:#000;}
        .container .about_btn:hover {background-color:$color-point-blue; color:#fff;}
    }
    .celeblities_section {
        width:100%; 
        height: 200vh;
        position: relative;
        background-color:#000;
        .cel_wrapper {
            height: 100vh;
            position:sticky;
            top:0;
            display:flex; 
            width:calc(100%*2);
            transform:translateX(0);
            .cel_wrap {
                width: 50%;
                border-right:1px solid #fff;
                height: 100%; 
                padding:430px 50px;
                text-align: right;
                will-change: transform;
                h5 {color:#fff; font-family:$point-font; font-size:2rem;}
                p {margin-top:20px; color:#fff; font-size:$font-size20; font-weight: 300;}
            }
            .cel_list {
                display:flex; 
                flex-flow:column nowrap;
                justify-content: center;
                gap:50px; 
                height: 100%; 
                width: 50%;
                .cel_1,
                .cel_2 {display:flex; flex-flow:row nowrap; gap:50px; justify-content: space-between;
                    img {width: auto; height: 250px;}
                }
            }
        }
    }
    .store_section {text-align: center; padding:130px 160px;
        .title {margin-bottom:50px;}
        .stores_img { display:flex; 
            flex-flow:row nowrap; gap:50px; justify-content: center; align-items: center;
            margin-bottom:50px;
            li { width: 100%; height: 500px;
                .img_background { @include background-setting; height: 100%;
                    display:block;
                    .store_content {display:none;}
                    .store_content_hover {
                        color:#fff;
                        display:flex; flex-flow: column nowrap; 
                        height: 100%; justify-content: center; 
                        align-items: center;
                        background-color:rgba(0, 0, 0, 0.7);
                        p {font-family:$point-font; font-weight: 300; font-size:$font-size14; line-height: 150%;
                            strong {font-weight: 500; font-size:$font-size20; font-family:$point-font;}
                        }
                        p:nth-child(1) { margin-bottom:20px;}
                        img {}
                    }
                }
            }
            li:nth-child(1) .img_background {background-image: url(../image/store1.png);}
            li:nth-child(2) .img_background {background-image: url(../image/store2.png);}
            li:nth-child(3) .img_background {background-image: url(../image/store3.png);}
        }
        .store_btn {@include btn_d; background-color:#999;color:#fff;}
        .store_btn:hover {background-color:$color-point-blue; }
    }
}
footer { padding : 50px 213px;
    background-color:#000; width: 100%;
    color:#fff;
    .top {display:flex; flex-flow:row nowrap; align-items: start; justify-content: space-between;
        margin-bottom:10px;
        dt {font-family:$title-font; letter-spacing: 0.09rem; font-weight: 500; line-height: 200%;  font-size:$font-size14; }
        dd {font-family:$title-font; letter-spacing: 0.09rem; font-weight: 300; color:#999; font-size:$font-size12;line-height: 150%;}
        .logo { width: max-content;
            img {}
        }
        .content { width: max-content; gap:50px;
            display:flex; flex-flow:row nowrap; 
            /* 공통 디자인 */
            dt {} 
            dd {}
            .content_1,
            .content_2,
            .content_3{
                display:flex; flex-flow:column nowrap; justify-content: start; align-items: start;
                font-family:$title-font; width: max-content; letter-spacing: 0.09rem;
            }
            .content_1{}
            .content_2{}
            .content_3{}
        }
        .top_right { width: max-content; display:flex; flex-flow:column nowrap; gap:50px;
            dt {}
            dd {}
            .bank {}
            .delivery {}
        }
    }
    .bottom {
        p {color:#999; line-height: 150%; font-size:$font-size12; font-weight: 300;}
    }
}